In [1]:
import pandas as pd
import os
import re

# Dados de piramide de idade de 2019

In [2]:
if os.path.exists("/Users/thrabbit/Documents/corona_virus/input/pop_pyramid.csv"):
    df_pyramid = pd.read_csv("/Users/thrabbit/Documents/corona_virus/input/pop_pyramid.csv")
else:
    df_pyramid = pd.DataFrame(columns=['Country', 'Age 0-9', 'Age 10-19', 'Age 20-29', 'Age 30-39', 'Age 40-49', 'Age 50-59', 'Age 60-69', 'Age 70-79', 'Age >80'])

In [3]:
directory = "/Users/thrabbit/Documents/corona_virus/input/pop_pyramid/"
pattern = "^.*(?=(-2019\.csv))"

for file in os.listdir(directory):
    if file.endswith(".csv"):
        df = pd.read_csv(directory + file)
        df = df.set_index('Age')
        df['Population'] = df['M'] + df['F']
        df = df.transpose()

        country = re.search(pattern, file).group(0)
        
        country_df = pd.DataFrame(data={'Country':country, 
               'Age 0-9':[df.loc['Population']['0-4'] + df.loc['Population']['5-9']], 
               'Age 10-19':[df.loc['Population']['10-14'] + df.loc['Population']['15-19']], 
               'Age 20-29':[df.loc['Population']['20-24'] + df.loc['Population']['25-29']],
               'Age 30-39':[df.loc['Population']['30-34'] + df.loc['Population']['35-39']],
               'Age 40-49':[df.loc['Population']['40-44'] + df.loc['Population']['45-49']], 
               'Age 50-59':[df.loc['Population']['50-54'] + df.loc['Population']['55-59']], 
               'Age 60-69':[df.loc['Population']['60-64'] + df.loc['Population']['65-69']], 
               'Age 70-79':[df.loc['Population']['70-74'] + df.loc['Population']['75-79']], 
               'Age >80':[df.loc['Population']['80-84'] + df.loc['Population']['90-94'] + df.loc['Population']['95-99'] + df.loc['Population']['100+']]})
        
        df_pyramid = df_pyramid.append(country_df, ignore_index=True)

# Calculando a população total

In [4]:
df_pyramid['# People'] = df_pyramid.iloc[:, 1:10].sum(axis=1)/10e3

In [5]:
df_pyramid

,Country,Age 0-9,Age 10-19,Age 20-29,Age 30-39,Age 40-49,Age 50-59,Age 60-69,Age 70-79,Age >80,# People
0,Mexico,22245383,22356958,21623928,18636625,16343173,12397493,7946332,4023962,1400068,12697.3922
1,Colombia,7448799,8231614,8779218,7667022,6339173,5445614,3633308,1882391,643331,5007.0470
2,Slovakia,568394,542764,680528,860773,843980,714201,687712,380061,122175,540.0588
3,Sweden,1191245,1106232,1304961,1289302,1277210,1280608,1097278,967449,362698,987.6983
4,Croatia,392834,410760,480216,550013,555343,588949,560899,355380,165828,406.0222
...,...,...,...,...,...,...,...,...,...,...,...
56,Japan,10363426,11337747,12268082,14762678,18753747,16223340,16318424,15814619,7503577,12334.5640
57,South Africa,11581615,10240605,10231760,9942466,6845747,4794113,3068429,1430792,316598,5845.2125
58,Ireland,683362,653400,559110,710607,747666,587995,473864,314560,108546,483.9110
59,Netherlands,1762690,1973468,2106722,2075858,2201959,2520370,2109482,1526904,565325,1684.2778
60,Egypt,24622198,17968738,16473942,14922068,10574668,7677870,4957959,2412411,564338,10017.4192

# PIB

In [6]:
 df_pib = pd.read_csv('./input/API_NY.GDP.MKTP.PP.KD_DS2_en_csv_v2_870423mudado.csv', usecols=["Country Name", "2018"])

In [7]:
df_pib.rename(columns={'Country Name': 'Country', '2018':'GDP'}, inplace=True)

In [8]:
df_pib['GDP'] = df_pib['GDP']/1e6

# PIB per capita

In [9]:
 df_pib_per_capta = pd.read_csv('./input/gdp-per-capita-in-us-dollar-world-bank.csv')

In [10]:
df_pib_per_capta = df_pib_per_capta[df_pib_per_capta['Year'] == 2017]

In [11]:
df_pib_per_capta = df_pib_per_capta.reset_index(drop=True)

In [12]:
df_pib_per_capta.rename(columns={'Entity': 'Country', 'GDP per capita (constant 2010 US$) (constant 2010 US$)': 'GDP per capta'}, inplace=True)

In [13]:
df_pib_per_capta = df_pib_per_capta.filter(items=['Country', 'GDP per capta'])

In [14]:
df_pib_per_capta

         Country  GDP per capta
0    Afghanistan     618.332790
1        Albania    4868.197347
2        Algeria    4825.178585
3        Andorra   43942.938187
4         Angola    3484.599515
..           ...            ...
227      Vanuatu    2939.520707
228      Vietnam    1834.651595
229        World   10633.997003
230       Zambia    1646.143835
231     Zimbabwe     927.398658

[232 rows x 2 columns]

# Espectativa de vida

In [15]:
 df_life_expectance = pd.read_csv('./input/life-expectancy.csv')

In [16]:
df_life_expectance = df_life_expectance[df_life_expectance['Year'] == 2017]

In [17]:
df_life_expectance = df_life_expectance.reset_index(drop=True)

In [18]:
df_life_expectance.rename(columns={'Entity':'Country', 'Life expectancy (years)':'Life expectancy'}, inplace=True)

In [19]:
df_life_expectance = df_life_expectance.filter(items=['Country', 'Life expectancy'])

In [20]:
df_life_expectance

            Country  Life expectancy
0       Afghanistan           64.130
1            Africa           62.472
2           Albania           78.333
3           Algeria           76.499
4    American Samoa           73.636
..              ...              ...
238  Western Sahara           69.762
239           World           72.169
240           Yemen           66.086
241          Zambia           63.043
242        Zimbabwe           60.812

[243 rows x 2 columns]

# Trafego Aereo Absoluto/ped Capita

In [21]:
 df_flights = pd.read_csv('./input/API_IS.AIR.PSGR_DS2_en_csv_v2_867000.csv', usecols=["Country Name", "2018"])

In [22]:
df_flights.rename(columns={'Country Name':'Country', '2018':'# Flight Passengers'}, inplace=True)

In [23]:
df_flights

          Country  # Flight Passengers
0           Aruba         2.742800e+05
1     Afghanistan         1.722613e+06
2          Angola         1.516628e+06
3         Albania         3.031370e+05
4         Andorra                  NaN
..            ...                  ...
259        Kosovo                  NaN
260   Yemen, Rep.         3.363100e+05
261  South Africa         2.392175e+07
262        Zambia         8.904000e+03
263      Zimbabwe         2.825390e+05

[264 rows x 2 columns]

#  Camas de Hospitais / 1000 pessoas

In [24]:
 df_hospital_bed = pd.read_csv('./input/hospital-beds-per-1000-people.csv', usecols=["Entity", "Year", "Hospital beds (per 1,000 people) (per 1,000 people)"])

In [25]:
df_hospital_bed = df_hospital_bed.groupby(['Entity']).max().reset_index()[['Entity', 'Hospital beds (per 1,000 people) (per 1,000 people)']]

In [26]:
df_hospital_bed.rename(columns={'Entity':'Country', 'Hospital beds (per 1,000 people) (per 1,000 people)':'Hospital beds (per 1,000 people)'}, inplace=True)

# Densidade Pop

In [27]:
df_pop_density = pd.read_csv('./input/population-density.csv', usecols=['Entity', 'Year', 'Population density (people per sq. km of land area) (people per km² of land area)'])

In [28]:
df_pop_density = df_pop_density.groupby(['Entity']).max().reset_index()[['Entity', 'Population density (people per sq. km of land area) (people per km² of land area)']]

In [29]:
df_pop_density.rename(columns={'Entity':'Country', 'Population density (people per sq. km of land area) (people per km² of land area)':'Population density (people per km²)'}, inplace=True)

# Temperatura média dos meses

In [30]:
df_avg_temperature = pd.read_csv('./input/country_average_temperature.csv')

# Níveis de Lockdown

In [31]:
df_lockdown = pd.read_csv('./input/country_lockdown_info.csv')

# Padronizando nomes em todos os DataFrames

In [32]:
df_pyramid["Country"].replace({'United States of America': 'United States'}, inplace=True)
df_pyramid["Country"].replace({'Russian Federation': 'Russia'}, inplace=True)
df_pyramid["Country"].replace({'Republic of Korea': 'South Korea'}, inplace=True)

In [33]:
countries = df_pyramid.Country.values

In [34]:
df_pib["Country"].replace({'Russian Federation': 'Russia'}, inplace=True)
df_pib["Country"].replace({'Iran, Islamic Rep.': 'Iran'}, inplace=True)
df_pib["Country"].replace({'Egypt, Arab Rep.': 'Egypt'}, inplace=True)
df_pib["Country"].replace({'Korea, Rep.': 'South Korea'}, inplace=True)
df_pib["Country"].replace({'Slovak Republic': 'Slovakia'}, inplace=True)



df_flights["Country"].replace({'Russian Federation': 'Russia'}, inplace=True)
df_flights["Country"].replace({'Iran, Islamic Rep.': 'Iran'}, inplace=True)
df_flights["Country"].replace({'Egypt, Arab Rep.': 'Egypt'}, inplace=True)
df_flights["Country"].replace({'Korea, Rep.': 'South Korea'}, inplace=True)
df_flights["Country"].replace({'Slovak Republic': 'Slovakia'}, inplace=True)

In [35]:
for country in countries:
    if country not in df_pib.Country.values:
        print("PIB não possui: {}".format(country))
    if country not in df_pib_per_capta.Country.values:
        print("PIB per capta não possui: {}".format(country))
    if country not in df_life_expectance.Country.values:
        print("Life expactance não possui: {}".format(country))
    if country not in df_flights.Country.values:
        print("Flights não possui: {}".format(country))
    if country not in df_hospital_bed.Country.values:
        print("Hospital Bed não possui: {}".format(country))
    if country not in df_pop_density.Country.values:
        print("Pop Density não possui: {}".format(country))
    if country not in df_lockdown.Country.values:
        print("Lockdown não possui: {}".format(country))
    if country not in df_avg_temperature.Country.values:
        print("Avg Temperature não possui: {}".format(country))

Lockdown não possui: Slovakia
Avg Temperature não possui: Slovakia
Lockdown não possui: Croatia
Avg Temperature não possui: Croatia
Lockdown não possui: Qatar
Avg Temperature não possui: Qatar
Lockdown não possui: United Arab Emirates
Avg Temperature não possui: United Arab Emirates
Lockdown não possui: Estonia
Avg Temperature não possui: Estonia
Lockdown não possui: Iraq
Avg Temperature não possui: Iraq
Lockdown não possui: Slovenia
Avg Temperature não possui: Slovenia
Lockdown não possui: Kuwait
Avg Temperature não possui: Kuwait
Lockdown não possui: Lebanon
Avg Temperature não possui: Lebanon
Lockdown não possui: Bahrain
Avg Temperature não possui: Bahrain
Lockdown não possui: Egypt
Avg Temperature não possui: Egypt

# Adicionando Informações das cidades nod DataFrames

In [36]:
df_append = pd.DataFrame({'Country': ['New York', 'São Paulo', 'Lombardia', 'Wuhan'], 'Population density (people per km²)': [1800, 7100, 2800, 7000]})
df_pop_density = df_pop_density.append(df_append)

In [37]:
df_append = pd.DataFrame({'Country': ['New York', 'São Paulo', 'Lombardia', 'Wuhan']})
df_hospital_bed = df_hospital_bed.append(df_append)

In [38]:
df_append = pd.DataFrame({'Country': ['New York', 'São Paulo', 'Lombardia', 'Wuhan']})
df_pyramid= df_pyramid.append(df_append)

In [39]:
df_append = pd.DataFrame({'Country': ['New York', 'São Paulo', 'Lombardia', 'Wuhan'], 'GDP':[1406000, 699280, 398416, 224000]})
df_pib = df_pib.append(df_append)

In [40]:
df_append = pd.DataFrame({'Country': ['New York', 'São Paulo', 'Lombardia', 'Wuhan'], 'GDP per capta':[64579, 69500, 42335, 16528]})
df_pib_per_capta = df_pib_per_capta.append(df_append)

In [41]:
df_append = pd.DataFrame({'Country': ['New York', 'São Paulo', 'Lombardia', 'Wuhan']})
df_life_expectance = df_life_expectance.append(df_append)

In [42]:
df_append = pd.DataFrame({'Country': ['New York', 'São Paulo', 'Lombardia', 'Wuhan']})
df_flights = df_flights.append(df_append)

# Combinando os Dados

In [43]:
df_final = pd.merge(df_pyramid, df_pib, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))
df_final = pd.merge(df_final, df_pib_per_capta, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))
df_final = pd.merge(df_final, df_life_expectance, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))
df_final = pd.merge(df_final, df_flights, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))
df_final = pd.merge(df_final, df_hospital_bed, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))
df_final = pd.merge(df_final, df_pop_density, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))
df_final = pd.merge(df_final, df_lockdown, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))
df_final = pd.merge(df_final, df_avg_temperature, left_on='Country', right_on='Country', how='inner', suffixes=('', ''))

In [44]:
df_final

,Country,Age 0-9,Age 10-19,Age 20-29,Age 30-39,Age 40-49,Age 50-59,Age 60-69,Age 70-79,Age >80,...,Life expectancy,# Flight Passengers,"Hospital beds (per 1,000 people)",Population density (people per km²),Lockdown Level,Lockdown Start Date,Temperature Jan (ºC),Temperature Feb (ºC),Temperature Mar (ºC),Temperature Apr (ºC)
0,Mexico,22245383,22356958,21623928,18636625,16343173,12397493,7946332,4023962,1400068,...,74.947,6.456964e+07,1.700000,66.443723,0,NaN,43.3,45.4,49.2,53.2
1,Colombia,7448799,8231614,8779218,7667022,6339173,5445614,3633308,1882391,643331,...,76.925,3.370404e+07,2.575547,44.223177,3,2020-03-25,56.7,57.2,57.7,58.1
2,Sweden,1191245,1106232,1304961,1289302,1277210,1280608,1097278,967449,362698,...,82.516,NaN,15.300000,24.717645,0,NaN,5.6,5.0,11.0,18.8
3,Indonesia,47977486,46310084,43068836,41353654,37293402,28325635,16650777,7276648,1791671,...,71.282,1.151541e+08,0.900000,145.725188,1,2020-03-26,61.2,61.4,61.7,62.3
4,Switzerland,875799,835663,1047321,1211148,1177086,1309842,953874,731996,307204,...,83.473,2.885799e+07,19.900000,214.242762,0,NaN,9.4,11.2,16.4,22.7
5,Singapore,473440,525276,841606,898862,965359,946886,762636,260127,92128,...,83.279,4.040152e+07,4.392467,7915.730606,3,2020-01-20,61.2,61.9,63.2,63.4
6,Canada,3960088,3974074,5110382,5204909,4797691,5260069,4598419,2876627,1119713,...,82.210,8.938000e+07,7.000000,4.036734,3,2020-03-16,-5.7,-2.3,6.8,19.6
7,India,236731829,252674336,238481457,212399683,165881490,125378954,84296275,37500685,9615035,...,69.165,1.640356e+08,0.900000,450.418617,3,2020-03-25,45.4,49.2,56.7,63.6
8,South Korea,4240885,4886624,6797905,7196849,8330006,8442921,6135717,3444643,1251462,...,82.628,8.815758e+07,12.300000,527.966773,3,2020-02-01,12.3,15.5,24.0,35.1
9,France,7606630,7857054,7415448,8007883,8408482,8600917,7758713,5456311,2705071,...,82.432,7.018803e+07,11.100000,122.578376,3,2020-03-17,27.8,27.8,27.8,32.4
10,Philippines,22137588,21224868,19346448,15169948,12087102,9132653,5640281,2495455,653477,...,70.952,4.308012e+07,1.755700,351.873394,2,2020-03-15,59.7,60.3,61.8,63.7
11,Chile,2450918,2505672,3020205,2878807,2556775,2328585,1737346,950339,364300,...,79.909,1.951718e+07,3.776400,24.282379,3,2020-03-19,44.2,43.9,41.1,37.2
12,Austria,863022,877100,1124426,1224528,1195561,1402944,1000416,789863,338138,...,81.340,1.293550e+07,11.200000,106.748567,3,2020-03-16,9.4,11.8,18.7,25.8
13,Poland,3812694,3683606,4614458,6098806,5397403,4653080,5155357,2736204,1189580,...,78.338,9.277538e+06,6.700000,126.231614,3,2020-03-13,8.7,9.5,17.1,26.4
14,Norway,616243,643048,724428,727725,730800,701457,581791,427144,156088,...,82.146,NaN,5.900000,14.462136,3,2020-03-12,7.1,7.6,12.4,18.8
15,Belgium,1305219,1298970,1395385,1498535,1524152,1601891,1347696,908725,444835,...,81.305,1.363949e+07,9.400000,375.563672,3,2020-03-18,17.4,18.2,23.6,28.7
16,Portugal,856604,1029022,1076533,1253640,1587112,1472388,1282301,997530,453129,...,81.655,1.736796e+07,4.100000,115.439458,3,2020-03-19,34.0,35.0,37.3,39.4
17,Romania,1939134,2069083,2174981,2621141,3076100,2508724,2559619,1482916,663465,...,75.790,4.908235e+06,8.950200,101.163440,3,2020-03-25,9.4,11.7,20.4,29.7
18,Saudi Arabia,5937284,4817472,5457856,6886975,6162478,3055997,1307059,476138,122065,...,74.874,3.914166e+07,2.496400,15.322308,1,2020-03-26,42.4,45.6,52.1,59.6
19,Ecuador,3260635,3116390,2997435,2540942,2046448,1546300,1047152,545637,193245,...,76.584,5.365261e+06,2.546300,66.938549,3,2020-03-16,50.8,51.0,51.2,51.2
20,Panama,771035,720783,669917,611062,547002,420154,271162,151433,59348,...,78.149,1.293935e+07,3.775311,55.132997,3,2020-03-25,60.4,61.1,62.1,62.6
21,Thailand,7548496,8629471,9617196,9351071,11070365,10557509,7301625,3702813,1309467,...,76.683,7.605304e+07,2.200000,135.131854,0,NaN,58.2,61.3,64.7,67.3
22,Russia,18561902,14795855,16599344,24452747,19983554,19449736,18094236,8266872,4348884,...,72.139,9.932731e+07,13.186200,9.071962,2,2020-03-30,-18.5,-15.6,-3.7,12.4
23,China,171585833,166513709,192891037,223506345,223201182,214623812,148420591,66894771,18775767,...,76.470,6.114398e+08,4.200000,147.674035,2,2020-01-23,-0.6,1.6,7.1,13.6
24,Malaysia,5098216,5185143,5784427,5525337,3884381,3080289,2069406,965368,260284,...,75.828,6.048177e+07,3.728133,96.254037,3,2020-03-18,60.8,61.3,62.2,62.9
25,Israel,1654530,1377821,1178880,1117905,1019070,779142,702437,430872,175844,...,82.663,7.404373e+06,8.079300,402.606285,3,2020-03-25,34.5,35.7,40.1,46.8
26,Brazil,29188180,31633075,34181400,34436184,28902917,24026608,16292185,8401090,2870636,...,75.456,1.021100e+08,4.995100,25.040054,2,17-03-2020,60.3,60.1,59.5,58.5
27,Australia,3280238,3079378,3401525,3662343,3282597,3093653,2605017,1768659,709000,...,83.122,7.566765e+07,12.300000,3.202027,3,2020-03-23,55.6,55.3,52.2,46.6
28,Serbia,868805,1010416,1119463,1216521,1227265,1120356,1161341,696223,244652,...,75.684,2.262703e+06,5.900000,88.436302,0,NaN,13.1,15.2,23.4,32.5
29,Italy,5103576,5740332,6135226,7100743,9225165,9453168,7391126,5935048,3113098,...,83.184,2.763044e+07,10.600000,206.667369,3,2020-09-03,5.7,6.5,8.6,11.7
30,Greece,910515,1071214,1068916,1384511,1584912,1489576,1243217,940663,526066,...,81.901,1.512593e+07,6.200000,86.278829,3,2020-03-23,30.1,31.0,34.6,40.7
31,Spain,4340417,4682339,4652133,6158281,7935505,6944643,5200462,3921750,1865361,...,83.294,8.067210e+07,5.500000,93.507836,3,2020-03-14,9.4,10.3,12.0,13.4
32,Peru,5489704,5224879,5423768,5068397,4191544,3185093,2171756,1190014,398979,...,76.286,1.775853e+07,2.500000,25.129285,3,2020-03-16,45.4,46.0,45.8,44.4
33,Iran,14377200,11531256,12885389,16623647,11185873,8029753,5126544,2239919,631647,...,76.271,2.560487e+07,1.720000,49.831030,0,NaN,20.5,24.0,32.5,42.2
34,Turkey,13501499,13585939,13087611,12748548,11221844,8664742,5968559,3216491,995236,...,77.161,1.155955e+08,2.800000,104.914076,0,NaN,18.3,20.3,25.9,34.7
35,Germany,7726915,7948424,9421661,10770439,10400203,13574883,10347526,7589596,4185510,...,81.039,1.097962e+08,11.500000,237.016337,2,2020-03-20,-0.4,0.2,3.5,7.3
36,Czech Republic,1119008,1033915,1145980,1510360,1774233,1333127,1344888,987327,295858,...,79.058,5.727200e+06,11.400000,137.175534,3,2020-03-16,9.6,11.6,18.1,25.7
37,Argentina,7431085,7110303,6989730,6393900,5596155,4365874,3478296,2234324,818779,...,76.372,1.808194e+07,6.352251,16.176856,3,2020-03-19,57.1,55.5,51.6,45.3
38,Pakistan,52774521,44914765,39377474,29843795,20586127,14690100,8500213,4464790,1046450,...,66.947,6.880637e+06,1.200000,255.572793,2,2020-03-22,33.0,37.6,46.4,55.9
39,Denmark,607866,679998,774991,662575,752091,803945,657184,566946,190139,...,80.681,NaN,8.600000,136.519876,3,2020-03-11,15.3,14.7,18.1,24.4
40,Finland,578800,602758,678649,705213,655323,728975,720693,556209,211327,...,81.561,1.336484e+07,15.600000,18.135848,2,2020-03-27,-1.4,-1.5,5.2,15.6
41,Dominican Republic,2000731,1934534,1852721,1540921,1257021,994096,655454,327868,124962,...,73.689,NaN,2.639400,222.873070,3,2020-03-19,55.7,56.4,57.7,58.9
42,United Kingdom,8065283,7569160,8630614,9203569,8624679,9138365,7206475,5673457,2355124,...,81.168,1.653886e+08,10.700000,272.898247,3,2020-03-23,21.6,21.8,24.9,28.4
43,Luxembourg,65213,66256,84625,95914,93536,88767,60144,36676,16337,...,81.955,2.099102e+06,8.100000,231.447490,1,2020-03-13,14.3,16.5,22.0,27.6
44,Iceland,43668,44269,48238,46464,42622,42276,36635,22223,8398,...,82.725,7.819741e+06,16.700001,3.404329,0,NaN,11.4,12.8,13.6,17.5
45,United States,39891845,42398071,46179065,43980069,40288440,42557686,37845098,23009234,9052463,...,78.861,8.890220e+08,9.200000,35.607765,2,2020-03-20,-0.1,1.8,5.8,11.1
46,Japan,10363426,11337747,12268082,14762678,18753747,16223340,16318424,15814619,7503577,...,84.290,1.263875e+08,15.600000,351.338820,0,NaN,21.3,21.9,27.0,36.4
47,South Africa,11581615,10240605,10231760,9942466,6845747,4794113,3068429,1430792,316598,...,63.538,2.392175e+07,2.800000,46.754285,3,2020-03-14,53.5,52.8,50.5,45.3
48,Ireland,683362,653400,559110,710607,747666,587995,473864,314560,108546,...,81.872,1.675986e+08,9.000000,69.873828,3,2020-03-12,24.0,24.3,26.5,29.1
49,Netherlands,1762690,1973468,2106722,2075858,2201959,2520370,2109482,1526904,565325,...,82.004,4.399604e+07,5.800000,508.544197,0,NaN,18.6,18.3,23.8,28.5
50,New York,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1800.000000,2,2020-03-20,-5.2,-4.2,0.7,7.3
51,São Paulo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7100.000000,2,24-03-2020,55.8,56.3,55.3,51.9
52,Lombardia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2800.000000,3,2020-09-03,0.8,3.1,6.8,10.7
53,Wuhan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,7000.000000,3,2020-01-23,3.9,5.6,10.6,17.2

In [45]:
df_final.to_csv("./input/country_info.csv", index=False)